@model MVCStock.Models.Entity.TBL_Customers
@{
    ViewBag.Title = "CustomerBring";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        Müşteri Id
        @Html.TextBoxFor(m => m.Customer_Id, new { @class = "form-control" })
        <br />
        Müşteri Adı
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <br />
        Müşteri Soyadı
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn btn-info">Müşteri Güncelle</button>
    </div>
}

