@using MVCStock.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBL_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th>@category.Category_Id</th>
                <td>@category.Category</td>
                <td><a href="/Category/Delete/@category.Category_Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/CategoryBring/@category.Category_Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, number => Url.Action("Index", new { number }))

<a href="/Category/New/" class="btn btn-warning">Yeni Kategori Ekle</a>
